@import '../../styles/colors.scss';

.header-container {
	text-align: left;
	margin: 0 auto;
	padding: 10px 20px;
	display: flex;
	background: $background;
	width: 100%;
	align-items: center;
	background: linear-gradient(90deg, $background-1 0%, $background 35%);
	box-shadow: inset 0px 0px 5px 0px $header-inner-shadow;

	h3, h1 {
		margin: 3px;
	}

	h3 {
		font-size: 1em;
		color: $alternate-font-color-1;
	}

	.logo-text {
		font-size: 1.6em;
		color: $alternate-font-color;
		font-weight: bold;
	}

	.logo {
		height: 50px;
		width: 50px;
		background: url(../../images/weather.png) no-repeat;
		background-size: 100% 100%;
		margin-right: 0.7em;
	}
}
