$background: #4d9ce0;
$alternate-background: #ffffff;
$background-1: #3366CB;

$linear-color-1: #da4733;
$linear-color-2: #3b78e7;
$linear-color-3: #094420;

$disabled: #cccccc;

$alternate-font-color: #ffffff;
$font-color: #333333;
$alternate-font-color-1: #eeeeee;
$alternate-font-color-2: #dfdfdf;

$carousel-item-background: #222222;
