@import '../../styles/colors.scss';

.carousel-container {
  display: flex;
  width: 100%;

  button {
    border: 0;
    outline: 0 none;
    cursor: pointer;
    background: $alternate-background;

    &[disabled] {
      pointer-events: none;

      .arrow {
        border-color: $disabled;
      }
    }
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    &.left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

    &.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  .item-container {
    display: flex;
    flex: 1;
    justify-content: center;

    .carousel-item {
      margin: 0 10px;
      border-radius: 4px;
      min-width: 200px;

      &.active {
        -webkit-box-shadow: 0px 0px 8px 2px $box-shadow;
        box-shadow: 0px 0px 8px 2px $box-shadow;
        transform: scale(1.15);
        transition: all 0.5s;

        .MuiCard-root {
          color: $alternate-font-color;
          background: radial-gradient(circle, $background 60%, $background-1 100%);
        }
      }
    }
  }
}
