@import '../../styles/colors.scss';

.home-page {
  .container {
    background-color: $alternate-background;
    padding: 20px;
    text-align: center;
  }

  .min-max-section span {
    padding: 0 5px;
  }

  .MuiFormGroup-root {
    flex-direction: row;
  }

  .MuiCardContent-root {
    position: relative;

    .card-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #dfdfdf;
      padding: 3px;
    }
  }
}
