@import '../../styles/colors.scss';

.home-page {
  .container {
    background-color: $alternate-background;
    padding: 20px;
    text-align: center;
  }

  .MuiFormGroup-root {
    flex-direction: row;
  }
}
