@import '../../styles/colors.scss';

.home-page {
  &.container {
    background-color: $alternate-background;
    padding: 20px;
    text-align: center;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .min-max-section span {
    padding: 0 5px;
  }

  .MuiFormGroup-root {
    flex-direction: row;
  }

  .MuiCardContent-root {
    position: relative;

    .card-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: $alternate-font-color-2;
      padding: 3px;
      box-sizing: border-box;
      height: 30px;
      line-height: 24px;
    }
  }

  .active .card-header {
    background: $background-1;
    transition: all 0.5s;
  }
}
